<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Me</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/contactnew.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Tapestry&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Connect with us</h1>
    <p>We would love to respond to your queries and help you succeed.<br> Feel free to get in touch with us.</p>
    <div class="contact-box">
        <div class="contact-left">
            <h3>Send Your Request</h3>
            <form action="{% url 'contact' %}" method="post">
                {%csrf_token%}
                <div class="input-row">
                    <div class="input-group" >
                        <label>Name {{message_name}}</label>
                        <input type="text" placeholder="Tunahan Aldemir" name="message-name">
                    </div>
                    <div class="input-group" >
                        <label>Phone</label>
                        <input type="text" placeholder="+ 411 522 321" name="message-phone">
                    </div>
                </div>
                <div class="input-row">
                    <div class="input-group" >
                        <label>Email</label>
                        <input type="email" placeholder="tnhn@gmail.com" name="message-email">
                    </div>
                    <div class="input-group" >
                        <label>Subject</label>
                        <input type="text" placeholder="Product Demo" name="message-abouts">
                    </div>
                </div>
                <label>Message</label>
                <textarea rows="5" placeholder="Your Message" name="message"></textarea>
                <button type="submit">Send</button>
            </form>
        </div>
        <div class="contact-right">
            <h3>Reach Us</h3>
            <table>
                <tr>
                    <td>Email</td>
                    <td>Contactus@email.com</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>0546 558 54 45</td>
                </tr>
                <tr>
                    <td>Adress</td>
                    <td>BalıkesirCecilia Chapman 711-2880<br> Nulla St. Mankato Mississippi 96522</td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>